### A data structure is a storage that is used to store and organize data. It is a way of arranging data on a computer so that it can be accessed and updated efficiently.

#### In python there are four basic data structure:
1. List  --> It is ordered, mutable(changeable) and can have duplicates
2. Tuple --> It is ordered immutable(Unchangeable) and can have duplicates
3. Set   --> It is unordered not mutable but element can be added or removed and can't have duplicate
4. Dictionary --> it is unordered mutable(changeable) and can not have duplicates.

#### List

In [47]:
L = [1,'hello',5.9,"world"] # It is initialized in square brackets and can contain all types of data
print(L,type(L))

[1, 'hello', 5.9, 'world'] <class 'list'>

In [48]:
# List is ordered that means its elements can be accessed by indexing
L[3] # indexing start from 0 in python

'world'

In [49]:
L[2]=6
L        # See the output 3rd element is changed so list is mutable, Verified!

[1, 'hello', 6, 'world']

In [50]:
# Lets check duplicate element in list
L=[1,2,4,2]
L

[1, 2, 4, 2]

In [51]:
# Alternative to initialize list
L=list([1,3,5,6])
L

[1, 3, 5, 6]

#### Tuple

In [52]:
T=(1,2,4,5) # Tuple is initialized in small bracket (paranthesis)
print(T,type(T))

(1, 2, 4, 5) <class 'tuple'>

In [53]:
# Check is tuple is ordered
T[3]

5

In [54]:
# Check tuple is mutable or not
T[2]='hello'
print(T)  # It throws an error 'tuple object does not support assignmet' That means it not changeable

TypeError: 'tuple' object does not support item assignment

In [55]:
# Lets check it can have duplicates or not
T=(1,3,4,1)
T          # Yes it can have it accepts 1 twice

(1, 3, 4, 1)

In [56]:
# Alternative to initialize tuple
T=tuple((1,2,4,5)) # t = tuple((values))
print(T,type(T))

(1, 2, 4, 5) <class 'tuple'>

#### set

In [57]:
s={1,3,4,5,'hello'} # set is initialized using curly braces
print(s,type(s))

{1, 3, 4, 5, 'hello'} <class 'set'>

In [58]:
# Lets check set is ordered or not
s[0] # it throws an error that 'set' object is not subscriptable, so set is not ordered

TypeError: 'set' object is not subscriptable

In [59]:
# check set is mutable or not
s[0]=5  # It throws an error that 'set' object does not support item assignment, so it is immutable
s

TypeError: 'set' object does not support item assignment

In [60]:
# But we can add and remove elements from se
s.add('add')
s

{1, 3, 4, 5, 'add', 'hello'}

In [61]:
s.remove(3)
s

{1, 4, 5, 'add', 'hello'}

In [62]:
# want to add more than on elements use .update()
s.update({"add","more"})
s

{1, 4, 5, 'add', 'hello', 'more'}

#### Dictionray

In [63]:
# Dict is initialized using curly braces but it is in key:value pair
D={"name":"Anas","Roll No": "xxxxx","Age":0,"D.O.B":"02-1-2002","percent":90}
print(D,type(D))
print(D)
print(D)

{'name': 'Anas', 'Roll No': 'xxxxx', 'Age': 0, 'D.O.B': '02-1-2002', 'percent': 90} <class 'dict'>
{'name': 'Anas', 'Roll No': 'xxxxx', 'Age': 0, 'D.O.B': '02-1-2002', 'percent': 90}
{'name': 'Anas', 'Roll No': 'xxxxx', 'Age': 0, 'D.O.B': '02-1-2002', 'percent': 90}

In [64]:
# Dict element can be accessed using key
D["percent"]
print(D["name"])

Anas

In [65]:
# Check dict can have duplicae or not?
D={"name":"anas","Roll No": "roll","Age":0,"D.O.B":"02-1-2002","CGPA":0,"name":"Diab"}
print(D) # See name is updated by Diab it does not accept two diff value for a unique key

{'name': 'Diab', 'Roll No': 'roll', 'Age': 0, 'D.O.B': '02-1-2002', 'CGPA': 0}

In [66]:
D={"name":"Anas","Roll No": "xxxxxx","Age":0,"D.O.B":"xx-xx-xxxx","CGPA":0,"name":"Anas"}
D # see name is printed once thought it was initialized twice so no duplicates allowed

{'name': 'Anas',
 'Roll No': 'xxxxxx',
 'Age': 0,
 'D.O.B': 'xx-xx-xxxx',
 'CGPA': 0}

In [67]:
# Check dict is changeable or not
D["Institue"]="IIT Kharagpur"
print(D) # See instiute is added to original dict so it is mutable(changeable)

{'name': 'Anas', 'Roll No': 'xxxxxx', 'Age': 0, 'D.O.B': 'xx-xx-xxxx', 'CGPA': 0, 'Institue': 'IIT Kharagpur'}

#### concatenation

In [68]:
L

[1, 3, 5, 6]

In [69]:
L2=L+["one","three","five","six"]
print(L2)

[1, 3, 5, 6, 'one', 'three', 'five', 'six']

In [70]:
L.append("three") #Append can only add one element at a time because it takes one argument only
L

[1, 3, 5, 6, 'three']

In [71]:
# Tuple is not mutable so we can just add two tuples
T

(1, 2, 4, 5)

In [72]:
T2=("one","two","four","five")
T3=T+T2
T3

(1, 2, 4, 5, 'one', 'two', 'four', 'five')

In [73]:
# We can delete any particular element in list using del function
del(L[3])
L

[1, 3, 5, 'three']

In [74]:
# can we concatenate two dictionary using + operator
D2={"Village":"xxxxx","Post+P.S":"xxxxxx","Dist":"xxxxxx"}
D3 = D+D2
print(D3) # it throws an error unsupported operand so using + operactor dict cant be concatenated

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [75]:
# Lets try anothe method
D.update(D2)
print(D)  # So yeah using update method dict can be concatenated

{'name': 'Anas', 'Roll No': 'xxxxxx', 'Age': 0, 'D.O.B': 'xx-xx-xxxx', 'CGPA': 0, 'Institue': 'IIT Kharagpur', 'Village': 'xxxxx', 'Post+P.S': 'xxxxxx', 'Dist': 'xxxxxx'}

#### Copying

In [76]:
L

[1, 3, 5, 'three']

In [77]:
L2=L

In [78]:
L2

[1, 3, 5, 'three']

In [79]:
L2[2]="five"
L2

[1, 3, 'five', 'three']

In [80]:
 """So here we see that changing L2. L is also get changed that means assgining one list to the other
     is not assigned by value but it is assigned by reference i,e they are pointing to same memory in 
     the computer thats why changing one other also get changed. It is same for set and dictionary.
  """ 
L
# There are two types of assgignement in programming:
# 1. Assign by value: a copy of the variable is assigned to another variable
# 2. Assign by reference: it share the memory of a variable with the other variable

[1, 3, 'five', 'three']

In [81]:
# Here copy() method comes in use
L2= L.copy()

In [82]:
L2

[1, 3, 'five', 'three']

In [83]:
L2[2]=5
L2

[1, 3, 5, 'three']

In [84]:
L # Here see L is not changed by changing L2 so copy method assign one list to the other by value.

[1, 3, 'five', 'three']

In [85]:
L3=L[1:5]
L3

[3, 'five', 'three']

In [ ]:
L3[1]=5
L3

In [ ]:
L # See L is not changed by changing L3 so slicing does not point to the same memory it creates anohte memory

In [ ]:
L

In [ ]:
T

In [ ]:
s

In [ ]:
D

In [ ]:
# we can put list,tuple,set and dictionary in any of the four basic datastrucuture
D2={'A':L,'B':T,'C':s,'D':D}
D2

In [ ]:
# Access thired element of the list inside the dict D2
D2['A'][2]

In [ ]:
type(D2['A'])

In [ ]:
# Datastructure can also be initialized as below
L2=[x**2 for x in range(10)]
L2

In [ ]:
s= {x*8 for x in range(0,20,2)}

In [ ]:
s

In [ ]:
"""
Find average marks of each student who has performed in different subjects
"""
def getData():
    student_dict={}
    while True:
        studentId = input("Enter id of each student:")
        studentMarks=(input("Enter marks of each student separated by comma:"))
        moreData=input("Enter \"yes\" for more data othewise enter\"no\" ")
        if studentId in student_dict:
            print("This id is already inserted!!")
            continue
        else:
            student_dict[studentId]=studentMarks.split(',')
        if(moreData.lower()=='no'):
            return student_dict

In [ ]:
Marks = getData()

In [ ]:
Marks

In [ ]:
def Avgmarks(Marks_Dict):
    for marks in Marks_Dict:
        totalMarks = 0
        for sub_marks in Marks_Dict[marks]:
            totalMarks+=int(sub_marks)
            AvgMarks[marks]=totalMarks/len(Marks_Dict[marks])

    return AvgMarks

In [ ]:
AvgMarks=Avgmarks(Marks)
AvgMarks

In [ ]:
for x in AvgMarks:
    print("The avg marks of student ",x, "is:",AvgMarks[x])

In [ ]:
type(Marks['cs10'])

In [ ]:
type(AvgMarks)